.contact {
  background: $introBg;
  padding: 1px;
  text-align: center;

  h1 {
    font-size: 2.5rem;
  }

  form {
    label {
      display: block;
      padding: 0.5rem;
      font-weight: 300;
      font-size: 18px;
    }

    input {
      padding: 0.5rem;
      width: 75%;
      border-radius: 5px;
    }

    textarea {
      padding: 0.7rem;
      width: 88%;
      border-radius: 5px;
    }
    @include breakpoint(large) {
      input {
        width: 45%;
      }

      textarea {
        width: 55%;
      }
    }
  }

  .btn {
    padding: 2rem;
    button {
      border: 0;
      color: #fff;
      background: linear-gradient(to right, $ctaCyan, $ctaBlue);
      font-size: 1rem;
      padding: 16px 40px;
      border-radius: 35px;
      font-weight: 400;
      width: 100%;
      max-width: 300px;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to right, $ctaBlue);
      }
    }
  }
}
