.features {
  background: $testimonailBg;
  padding: 1.875rem;
  .features-grid {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .feature {
    text-align: center;
    padding: 1.875rem;

    & > i {
      color: $ctaCyan;
    }
  }
}
